{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Change Password</h3>
            <hr>
            <form action="" method="POST" novalidate class="shadow p-5">
            {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputOldPassword" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="exampleInputOldPassword"
                        placeholder="Old Password" name="op">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password"
                        name="np">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm New Password"
                        name="cnp">
                </div>
                <center><input type="submit" class="btn btn-primary mt-4" value="Submit"></center>
                <br>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}